.login-page {
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
}

.login-alert {
    margin-bottom: 2rem;
}

.login-card {
    flex-basis: 30rem;
    padding: 1rem;
}

.login-icon {
    color: rgba(0,0,0,.25);
}

.login-logo {
    height: 32px;
    margin-bottom: 3rem;
}

.login-card .login-title {
    margin-bottom: 1.5rem;
}

.login-btns {
    display: flex;
}

.login-btns > .btn {
    margin-left: auto;
}
